extends layout

block content
  // h1= title
  // p Welcome to #{title}
  <div id="mapid"></div>
  <div id="container" style="height: 400px; min-width: 310px"></div>
  div(class="col-sm-6")
    h1(class="text-center") 😀 Tweets
    div(id="left")
  div(class="col-sm-6")
    h1(class="text-center") 😞 Tweets
    div(id="right")
